<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="style.css" rel="stylesheet" type="text/css"> 
</head>
<body>

<form action="home.html">
  <div class="container">
    <h1><a href="#">student register form </a></h1>
    

    <label for="first name"><b>first name</b></label>
    <input type="text" placeholder="Enter your first name" name="name" id="name" required>
<br>
    <label for="last name"><b>last name</b></label>
    <input type="password" placeholder="Enter your last name" name="last" id="last" required>
<br><br>
    <label for="email"><b>email &nbsp; &nbsp;&nbsp;</b></label>
    <input type="email" placeholder="it should contain @" name="email" id="email" required>
<br><br>
  <label for="number"><b>mobile number</b></label>
  <input type="text" placeholder="Enter only 10 digits are allowed" name="number" id="number" required>
 <br> <br><label for="gender"><b> Select you gender </b></label>

  <input type="radio" name="gender" value="male"> Male
<input type="radio" name="gender" value="female"> Female
<input type="radio" name="gender" value="other"> Other
<br><br>
  <label for="birthday"><b>Date of birth: </b></label>
  <input type="date" id="birthday" name="birthday">
  <input type="submit">


<br>     <label for ="address"><b>Address:</b></label>
         <textarea rows = "5" cols = "60" name = "address">
          
         </textarea><br>
        
    <br>
  <label for="location"><b>city</b></label>
  <input type="text" placeholder="city" name="city" id="location" required>
<br>
  <label for="number" ><b>Area Pin </b></label> 
  <input type="text" placeholder="" name="pin" id="Area pin" required>
  <br>
  <label for="location"><b>State</b></label>
  <input type="text" placeholder="" name="state" id="state" required>
  <br><br>
  <label for="qualification"><b>Qualification: &nbsp;&nbsp;&nbsp;&nbsp; </b></label>

<select name="qualification" id="qualification">
  <option value="volvo">schooling</option>
  <option value="saab">high school passed</option>
  <option value="mercedes">bachelors</option>
  <option value="audi">masters</option>
</select>
<br><br>
  <label for="psw"><b> Password</b></label>
  <input type="password" placeholder="enter your Password" name="psw" id="psw" required>
  <hr>
  <label for="Specialization"><b> Specialition </b></label>
<br>
  <input type="checkbox" > computer science
  <br>
<input type="checkbox" > Information Technology<br>
<input type="checkbox"> Computer Articheture<br>
<input type="checkbox" > Tell Communication
  <br>

  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
<br>
  <button type="submit" class="registerbtn">Register</button>
</div>

  
  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form>